.bloc {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
}

.media {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.right {
    flex-direction: row-reverse;
}


@media (max-width: 768px) {
    .right {
        flex-direction: column;
    }

    .bloc {
        padding: 0 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
    }

    .bloc h3 {
        text-align: center;
        margin-bottom: 1rem;
    }
}
