.container {
    height: calc(100vh - 300px);
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.picksList {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cardContainer {
    width: 300px;
}

.actionsContainer {
    min-height: 120px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    height: auto;
    background: var(--background-light);
    border-radius: 8px;
}

.emptyMessage {
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 200;
    color: var(--text-light);
}
